/* 统一清除浮动 */
.f-cb:after,.f-cbli li:after{display:block;visibility:hidden;clear:both;height:0;overflow:hidden;content:'.';}
.f-cb,.f-cbli li{zoom:1;}
.f-fr{ float: right;}
.f-fl{float: left;}
.tabTitle{
    width:500px;
}
.tabTitle li{
    display: block;
    float: left;
    width:100px;
    height:20px;
    background-color: #bdff70;
    margin:0 4px;
    border:1px solid #75ff2b;
    cursor: pointer;
}
.tabTitle li.active{
    background-color: #36ffc0;
}
.tabContent{
    width:500px;
}
.tabContent li{
    list-style-type:none;
    padding:10px;
    background-color: #34b0ff;
}